
  <!-- FOOTER: final word and links again -->
  <section id="footer">
    <h2 class="footer-head">I am actively searching for an intership in Fall 2020</h2>
    <p>I would love an opportunity in Backend Web Dev or Software Engineering!</p>

    <div class="footer-links">
      <a class="footer-link" href="https://github.com/john-odonnell">GitHub</a>
      <a class="footer-link" href="https://www.linkedin.com/in/john-o%E2%80%99donnell-49739014a/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/ArmoredBubbles">Twitter</a>
      <p class="footer-signature">John O'Donnell :: July 2020</p>
    </div>
  </section>

</body>

</html>
