<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- local css style sheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/blog.css">
  <!-- font awesome cdn -->
  <script src="https://kit.fontawesome.com/b9a2b4fe17.js" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>John O'Donnell</title>

  <link rel="icon" type="image/ico" href="/img/favicon.ico">
  <meta property="og:image" content="https://raw.githubusercontent.com/john-odonnell/psite/master/public/img/IMG_0612_resized.jpg">
</head>

<body>

  <!-- TITLE: includes navbar and intro header -->
  <section id="title">
    <div class="container-fluid">

      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">
          <h2>John O'Donnell</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-div" name="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-div">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
              <a class="nav-link" href="https://jod.dev/">URL Shortener</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="https://github.com/john-odonnell">GitHub</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link"
                href="https://www.linkedin.com/in/john-o%E2%80%99donnell-49739014a/?challengeId=AQFJmz0T1kazWQAAAXNzSJd5rYWCnndXosmz4u67if9Pgjlkwvq9UZTeRviq_jSPCQsXdTrLxksUzWHxXCiZxWAWhSAnm-6z2A&submissionId=41816754-d6e1-2316-0a70-f55b08e3616e">LinkedIn</a>
            </li>
          </ul>
        </div>
      </nav>
