<%- include("partials/header") -%>
    </div>
  </section>

  <!-- HEADSHOT: headsot image and basic information -->
  <section id="headshot">
    <table class="intro-table" cellspacing="20">
      <tr>
        <td class="img-td">
          <img class="profile-image" src="img/IMG_0612.JPG" alt="profile-image">
        </td>
        <td class="desc-td">
          <p>Attending the University of Rhode Island</p>
          <p>B.S. in Computer Science</p>
          <p>Graduating May 2021</p>
        </td>
      </tr>
    </table>
  </section>

  <!-- PROJECTS: card tiles detailing latest projects -->
  <section id="projects">
    <h2 class="projects-header">Projects</h2>

    <div class="row">

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>URL Shortener</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Uses base 62 indexing to shorten long URLs</p>
            <p class="card-body-text">Browser and Command Line Interfaces</p>
            <p class="card-body-text">Written in Node.js using Express and MongoDB</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/urlshort">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Universal Virtual Machine</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Based on the 2006 ICFP Programming Contest</p>
            <p class="card-body-text">8 general registers and dynamic address space</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/uvm">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Image Compression Suite</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Modular Compression & Decompression Algorithms</p>
            <p class="card-body-text">Similar to JPEG algorithms</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/img_compress">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Tweet Reader</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Displays Tweets from a given Data Set with navigation options</p>
            <p class="card-body-text">Implements a Circular Doubly Linked List to order Tweets by time of day</p>
            <p class="card-body-text">Written in Python</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_212/tree/master/assignments/assignment2">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Tetris Clone</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Uses pygame library to implement graphics and event handling</p>
            <p class="card-body-text">Object-Oriented Modular Design</p>
            <p class="card-body-text">Written in Python</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/tetris">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Image Rotation Tool</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Implements two 2D array structures: Linear and Blocked</p>
            <p class="card-body-text">Each has strength with different rotations based on portions of the structures loaded into registers</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_411/tree/master/locality">GitHub</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- LANGUAGES: details programming languages -->
  <section id="languages">
    <h2 class="languages-header">Languages</h2>

    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">C/C++</a>
          <a class="list-group-item list-group-item-action" id="list-python-list" data-toggle="list" href="#list-python" role="tab" aria-controls="python">Python</a>
          <a class="list-group-item list-group-item-action" id="list-html-list" data-toggle="list" href="#list-html" role="tab" aria-controls="html">HTML & CSS</a>
          <a class="list-group-item list-group-item-action" id="list-node-list" data-toggle="list" href="#list-node" role="tab" aria-controls="node">JavaScript & Node.js</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            C and C++ are the languages with which I am most comfortable. There's something
            so strangely satisfying about using pointers and manually allocating memory.
            My Machine Architecture class was taught in C, and I used it to write some of
            my most challenging projects to date. C Assembly analysis was featured heavily
            towards the end of this course.
          </div>
          <div class="tab-pane fade" id="list-python" role="tabpanel" aria-labelledby="list-python-list">
            Python is one of my favorite languages due to its high level nature. It was the primary
            language of my recent Data Structures and Algorithms class, so I have built fully functional
            Hash Tables, Singly and Doubly Linked Lists, Stacks and Queues in Python. It also
            served as my introduction to unit testing classes and functions.
          </div>
          <div class="tab-pane fade" id="list-html" role="tabpanel" aria-labelledby="list-html-list">
            Learning HTML and CSS have been a personal project for the duration of the Covid-19 quarantine.
            I've been working my way through Dr. Angela Yu's Web Dev Bootcamp on Udemy.com, along with personal projects
            such as this page. I have begun to study backend dev in parralel with frontend aspects, and find
            it to be much more interesting!
          </div>
          <div class="tab-pane fade" id="list-node" role="tabpanel" aria-labelledby="list-node-list">
            I have recently been using JavaScript and Node.js on personal projects and during my internship search.
            The server for this site, as well as the server for my URL shortener project linked in the site header,
            are both written in Node.js using the Express web framework. I have enjoyed these projects because
            I have the freedom to self-direct, and they lead to tangible results!
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- COURSES: current and completed -->
  <section id="courses">

    <h2 class="courses-header">Courses</h2>

    <div class="row">
      <div class="col-6">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            In Progress
          </button>
          <button type="button" class="list-group-item list-group-item-action">Operating Systems and Networks</button>
          <button type="button" class="list-group-item list-group-item-action">Design and Analysis of Algoritms</button>
          <button type="button" class="list-group-item list-group-item-action">Computer Graphics</button>
        </div>
      </div>

      <div class="col-6">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            Completed
          </button>
          <button type="button" class="list-group-item list-group-item-action">Computer Organization</button>
          <button type="button" class="list-group-item list-group-item-action">Software Engineering</button>
          <button type="button" class="list-group-item list-group-item-action">Data Structures and Abstractions</button>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer") -%>
