{{ define "footer" }}

  <!-- FOOTER: final word and links again -->
  <section id="footer">
    <div class="footer-links">
      <a class="footer-link" href="https://github.com/john-odonnell">GitHub</a>
      <a class="footer-link" href="https://www.linkedin.com/in/john-odon/">LinkedIn</a>
      <p class="footer-signature">John O'Donnell :: August 2023</p>
    </div>
  </section>

</body>

</html>
{{ end }}
