{{ template "header" . }}
    </div>
  </section>

  <!-- HEADSHOT: headsot image and basic information -->
  <section id="headshot">
    <table class="intro-table" cellspacing="20">
      <tr>
        <td class="img-td">
          <img class="profile-image" src="/static/img/IMG_0612.JPG" alt="profile-image">
        </td>
        <td class="desc-td">
          <p>Software Engineer at CyberArk</p>
          <p>Conjur Community & Integrations Team</p>
          <p>B.S. in Computer Science from URI</p>
        </td>
      </tr>
    </table>
  </section>

  <!-- PROJECTS: card tiles detailing latest projects -->
  <section id="projects">
    <h2 class="projects-header">Projects</h2>

    <div class="row">

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>URL Shortener</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Uses base 62 indexing to shorten long URLs</p>
            <p class="card-body-text">Browser and Command Line Interfaces</p>
            <p class="card-body-text">Written in Node.js using Express and MongoDB</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/urlshort">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Universal Virtual Machine</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Based on the 2006 ICFP Programming Contest</p>
            <p class="card-body-text">8 general registers and dynamic address space</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/uvm">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Image Compression Suite</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Modular Compression & Decompression Algorithms</p>
            <p class="card-body-text">Similar to JPEG algorithms</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/img_compress">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Tweet Reader</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Displays Tweets from a given Data Set with navigation options</p>
            <p class="card-body-text">Implements a Circular Doubly Linked List to order Tweets by time of day</p>
            <p class="card-body-text">Written in Python</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_212/tree/master/assignments/assignment2">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Tetris Clone</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Uses pygame library to implement graphics and event handling</p>
            <p class="card-body-text">Object-Oriented Modular Design</p>
            <p class="card-body-text">Written in Python</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/tetris">GitHub</a>
          </div>
        </div>
      </div>

      <div class="project-column col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h4>Image Rotation Tool</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="card-body-text">Implements two 2D array structures: Linear and Blocked</p>
            <p class="card-body-text">Each has strength with different rotations based on portions of the structures loaded into registers</p>
            <p class="card-body-text">Written in C</p>
            <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_411/tree/master/locality">GitHub</a>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section id="lang-courses">
    <div class="row lang-courses-row">
      <!-- LANGUAGES: details programming languages -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <section id="languages">
          <h2 class="languages-header">Languages and Tools</h2>

          <br>

          <section id="lang" class="langtool-section">
            <i class="devicon-go-plain colored devicon"></i>
            <i class="devicon-ruby-plain colored devicon"></i>
            <i class="devicon-python-plain colored devicon"></i>
            <i class="devicon-cplusplus-plain colored devicon"></i>
            <i class="devicon-bash-plain colored devicon"></i>
          </section>

          <br>

          <section id="webdev" class="langtool-section">
            <i class="devicon-html5-plain colored devicon"></i>
            <i class="devicon-css3-plain colored devicon"></i>
            <i class="devicon-bootstrap-plain colored devicon"></i>
            <i class="devicon-javascript-plain colored devicon"></i>
            <i class="devicon-express-original colored devicon"></i>
          </section>

          <br>

          <section id="tools" class="langtool-section">
            <i class="devicon-docker-plain colored devicon"></i>
            <i class="devicon-kubernetes-plain colored devicon"></i>
            <i class="devicon-ansible-plain colored devicon"></i>
            <i class="devicon-git-plain colored devicon"></i>
            <i class="devicon-github-original colored devicon"></i>
          </section>

          <br>

          <section id="backend" class="langtool-section">
            <i class="devicon-mysql-plain colored devicon"></i>
            <i class="devicon-mongodb-plain colored devicon"></i>
          </section>

        </section>

      </div>

      <!-- COURSES: current and completed -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <section id="courses">

          <h2 class="courses-header">Courses</h2>

          <br>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">

              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Data Structures and Abstractions
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Big O, Omega, and Theta notations for Algorithm runtime</li>
                    <li class="list-group-item">Popular sorting algorithms</li>
                    <li class="list-group-item">Doubly Linked Lists, Hash tables, Stacks, Queues, Trees and Graphs</li>
                    <li class="list-group-item">All implemented in Python with unit tests</li>
                  </ul>
                  <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_212">GitHub</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Computer Organization
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Memory, including Registers, Caches, and RAM</li>
                    <li class="list-group-item">Number representations and Bitwise Operations</li>
                    <li class="list-group-item">Optimized program and data structure performance</li>
                    <li class="list-group-item">Project-based course implemented in C</li>
                  </ul>
                  <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_411">GitHub</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Operating Systems and Networks
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Concurrency and Threads</li>
                    <li class="list-group-item">Memory address spaces</li>
                    <li class="list-group-item">Process scheduling</li>
                    <li class="list-group-item">Project-based course implemented in C</li>
                  </ul>
                  <a class="btn btn-secondary mt-auto" href="https://github.com/john-odonnell/csc_412">GitHub</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Database Management Systems
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Database system fundamentals and Data modeling</li>
                    <li class="list-group-item">Relational and Object Oriented database concepts</li>
                    <li class="list-group-item">Heuristic query optimization</li>
                    <li class="list-group-item">Simple media webapp using Twig templates and PHP</li>
                  </ul>
                  <a class="btn btn-secondary mt-auto" href="https://johnodonnell77.rhody.dev/streamtv">StreamTV</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Design and Analysis of Algorithms
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Analysis of popular sorting algorithms</li>
                    <li class="list-group-item">Analysis of recursive algorithms</li>
                    <li class="list-group-item">Graph algorithms, including Dijkstra, Kruskal and Prim</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Advanced Topics in Algorithms
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Number theory</li>
                    <li class="list-group-item">Stream ciphers and Feedback shift registers</li>
                    <li class="list-group-item">Block ciphers and hash functions</li>
                    <li class="list-group-item">RSA Cryptosystem</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
  </section>

{{ template "footer" . }}
